VITE_FIREBASE_API_KEY=AIzaSyA8cH_YapiXQg7ttQ8cReQYrlVwY_ddUb8
VITE_FIREBASE_AUTH_DOMAIN=desvelados-wa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=desvelados-wa
VITE_FIREBASE_STORAGE_BUCKET=desvelados-wa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1035048336943
VITE_FIREBASE_APP_ID=1:1035048336943:web:36dd7b15699a340c2e90da
VITE_MEASUREMENT_ID=G-RER7EBNWQL
VITE_ADMIN_EMAILS=j0bsch453d@gmail.com